body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1000px;
}

#data-table-container {
    height: 381px;
    overflow-y: scroll;
}

#line-graph {
    text-align: center;
}

#line-graph-image {
    width: 70%;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

#chord-vis {
    width: 1000px;
}

.chord-diagram-main {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#chord-diagram-controls {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

#slider, #slider-2 {
    width: 500px;
    float: left;
    margin-right: 50px;
}

#slider-handle, #slider-handle-2 {
    font-size: 16px;
    width: 80px;
    height: 28px;
    top: 50%;
    margin-top: -15px;
    margin-left: -40px;
    text-align: center;
    line-height: 1.6em;
}

#resetButton {
    margin-top: -15px;
}

.chord-narratives {
    padding-top: 30px;
}

.chord-narratives ul li {
    font-size: 16px;
}

#heatmap {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#heatmap-controls {
    margin-left: 25%;
}

#data-quality-image-1 {
    width: 80%;
}

#data-quality-image-2 {
    width: 60%;
}

#initial-1, #time-1, #final-2 {
    float: left;
    width: 45%;
    margin-right: 3%;
}

#initial-2, #time-2, #final-1, #final-3 {
    width: 45%;
}

#clear {
    padding-top: 50px;
    clear: both;
}

.analysis-images {
    width: 45%;
    margin-right: 2%;
}
